Makefile
*.swp
*.swo
*~
*.o
config.*
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-stamp
/compile
/configure
/configure-stamp
/debian/files
/debian/irqbalance-imx.debhelper.log
/debian/irqbalance-imx.postinst.debhelper
/debian/irqbalance-imx.postrm.debhelper
/debian/irqbalance-imx.prerm.debhelper
/debian/irqbalance-imx.substvars
/debian/irqbalance-imx/
/debian/stamp-patched
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1
/irqbalance
